name: docs
on:
  push:
    branches:
      - main
#    pull_request:
#      branches:
#        - main

permissions:
  contents: write

jobs:

  start-dev-runner:
    name: Start self-hosted EC2 runner in DEV
    uses: outrauk/shared-github-actions-workflows/.github/workflows/start-runner.yaml@main
    secrets: inherit
    with:
      environment: 'dev'

  build:
    name: Deploy docs
    runs-on: ${{ needs.start-dev-runner.outputs.label }}
    needs: start-dev-runner
    steps:
    - name: Checkout main
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install dependencies
      run: |
        sudo yum install -y python3-devel
        pip3 install -r requirements.txt
        pip3 install ghp-import

    - name: Deploy dbt docs
      run: |
        dbt deps
        dbt docs generate
        mkdir docs
        cp dbt/target/manifest.json docs/manifest.json
        cp dbt/target/catalog.json docs/catalog.json
        cp dbt/target/index.html docs/index.html
        ghp-import -n -p -f docs/
      env:
        DBT_SNOWFLAKE_USER: DBT
        DBT_SNOWFLAKE_ROLE: DBT
        DBT_SNOWFLAKE_PASSWORD: ${{ secrets.DBT_SNOWFLAKE_PASSWORD }}
        DBT_PROJECT_DIR: ./dbt
        DBT_PROFILES_DIR: ./dbt

  stop-dev-runner:
    if: needs.start-dev-runner.result == 'success' && always() # required to stop the runner even if the error happened in the previous jobs
    uses: outrauk/shared-github-actions-workflows/.github/workflows/stop-runner.yaml@main
    needs:
      - start-dev-runner
      - build
    secrets: inherit
    with:
      environment: 'dev'
      instance-label: ${{ needs.start-dev-runner.outputs.label }}
      ec2-instance-id: ${{ needs.start-dev-runner.outputs.ec2-instance-id }}
